/*
Theme Name: Dummy
Theme URI: https://www.maatwerkonline.nl
Version: 1.0.0
Author: Maatwerk Online
Author URI: https://www.maatwerkonline.nl/contact/
Description: This Theme is designed and developed by Maatwerk Online
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: maatwerkonline
Domain Path: /languages
*/

/*
Register all your vars in the theme.json file of the theme.
You can then receive them with the var() function like this:
    var(--wp--custom--header--content-size);
for a var in the theme.json that is added lik this:
    "custom": {
        "header" : {
            "contentSize": "1240px"
        },
    }
*/

/* Add you own custom font here */
body {
  font-family: "Open Sans";
  background-color: #fff;
}

.editor-styles-wrapper {
  font-family: "Open Sans";
}

/* Default Header */
#header .navbar {
  width: 100%;
}

#header .navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#sidebar-wrapper .navbar-nav .nav-link {
  width: 100%;
  color: #fff;
  padding: 10px 15px;
}

#wrapper {
  display: flex;
}

#sidebar-wrapper .navbar-nav .nav-link:hover {
  background: #283137;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link {
  background: #283137;
  border-bottom: 1px solid #212b2f;
  padding-top: 18px;
  padding-bottom: 18px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .nav {
  width: 15rem;
  overflow: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  position: relative;
}

#wrapper.toggled #page-content-wrapper:before {
  content: "";
  position: absolute;
  z-index: 2080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

#header .navbar-nav li {
  margin: 0;
  padding: 5px 10px;
}

#header .navbar-nav li:last-child {
  padding-right: 0;
}

#header .navbar-nav li .nav-link {
  color: currentColor;
  font-size: var(--wp--custom--header--menu--font-size);
  text-transform: var(--wp--custom--header--menu--text-transform);
}

#header .navbar-nav li .nav-link:hover {
  color: var(--wp--preset--color--primary);
}
